Repository cpmech/rcomps: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, prettier --write

Implement SideNav
  src/components/SideNav.tsx
  src/components/__stories__/SideNav.stories.tsx
Due: yarn lint:fix

Export SideNav
  src/components/index.ts
Due: yarn lint:fix

Improve SideNav
  src/components/SideNav.tsx
Due: yarn lint:fix

Publish
  package.json
  package.rlib.json
Due: none

Update deps and docs
  docs/asset-manifest.json
  docs/iframe.html
  docs/main.4af517ec29d559e3f37b.bundle.js
  docs/main.4af517ec29d559e3f37b.bundle.js.map
  docs/main.b2004c045d09a2ffeef1.bundle.js
  docs/main.b2004c045d09a2ffeef1.bundle.js.map
  docs/precache-manifest.0950f64d4153cf2d770e18e8ad3ee554.js
  docs/precache-manifest.1e19fb63bc711942dee1764517e5014b.js
  docs/runtime~main.4af517ec29d559e3f37b.bundle.js.map
  docs/runtime~main.b2004c045d09a2ffeef1.bundle.js
  docs/runtime~main.b2004c045d09a2ffeef1.bundle.js.map
  docs/service-worker.js
  docs/vendors~main.4af517ec29d559e3f37b.bundle.js
  docs/vendors~main.4af517ec29d559e3f37b.bundle.js.map
  docs/vendors~main.b2004c045d09a2ffeef1.bundle.js
  docs/vendors~main.b2004c045d09a2ffeef1.bundle.js.LICENSE.txt
  docs/vendors~main.b2004c045d09a2ffeef1.bundle.js.map
  package.json
  yarn.lock
Due: yarn lint:fix

Try to use rollup (again) to build a package
  package.json
  package.rlib.json
  rollup.config.js
  src/components/SideNav.tsx
  tsconfig.json
  tsconfig.rlib.json
  yarn.lock
Due: yarn lint:fix

Organize package json
  package.json
  yarn.lock
Due: none

v2.11.0
  package.json
Due: none

Fix package json with files option
  package.json
Due: none

v3.0.0
  package.json
Due: none

Remove scss
  .storybook/config.ts
  src/index.tsx
  src/styles/colors.scss
  src/styles/effects.scss
  src/styles/icons.scss
  src/styles/index.scss
  src/styles/params.scss
Due: yarn lint:fix, prettier --write

Fix tsconfig for the package
  tsconfig.json
Due: none

v3.1.0
  package.json
Due: none

Revert to previous way of publishing (witouth rollup)
  package.json
  package.rlib.json
  rollup.config.js
Due: yarn lint:fix

Fix pkg rlib
  package.rlib.json
Due: none

Remove main field in package.rlib
  package.rlib.json
Due: none

Fix tests and lint problems
  src/App.test.tsx
  src/components/FlexTable.tsx
  src/components/__stories__/Card.stories.tsx
  src/components/__stories__/FlexTable.stories.tsx
  src/components/__stories__/SideNav.stories.tsx
  src/components/__stories__/Switch.stories.tsx
  src/components/styles/__tests__/getButtonCss.test.ts
  src/components/styles/__tests__/getFloatCss.test.ts
Due: yarn lint:fix

Add Popup and ProgressBar components
  src/components/Popup.tsx
  src/components/ProgressBar.tsx
  src/components/__stories__/Popup.stories.tsx
  src/components/__stories__/ProgressBar.stories.tsx
  src/components/index.ts
Due: yarn lint:fix

Clean package json
  package.json
Due: none

Update deps
  package.json
  yarn.lock
Due: none

Update docs
  docs/asset-manifest.json
  docs/iframe.html
  docs/index.html
  docs/main.2f764bb818d24c155dbf.bundle.js
  docs/main.b2004c045d09a2ffeef1.bundle.js
  docs/main.b2004c045d09a2ffeef1.bundle.js.map
  docs/main.dc02cd70fa4f255f1f43.bundle.js
  docs/main.dc02cd70fa4f255f1f43.bundle.js.map
  docs/precache-manifest.0950f64d4153cf2d770e18e8ad3ee554.js
  docs/precache-manifest.674cdda37a46dbf24c68b16fbff666c7.js
  docs/runtime~main.23a842e0cf9f5bd27e60.bundle.js
  docs/runtime~main.b2004c045d09a2ffeef1.bundle.js.map
  docs/runtime~main.dc02cd70fa4f255f1f43.bundle.js
  docs/runtime~main.dc02cd70fa4f255f1f43.bundle.js.map
  docs/service-worker.js
  docs/static/css/main.9f605af4.chunk.css
  docs/static/css/main.9f605af4.chunk.css.map
  docs/vendors~main.34fd275cf12c2dfee69d.bundle.js
  docs/vendors~main.3bd83dbf6606e1b82cf7.bundle.js
  docs/vendors~main.b2004c045d09a2ffeef1.bundle.js
  docs/vendors~main.b2004c045d09a2ffeef1.bundle.js.map
  docs/vendors~main.dc02cd70fa4f255f1f43.bundle.js
  docs/vendors~main.dc02cd70fa4f255f1f43.bundle.js.LICENSE.txt
  docs/vendors~main.dc02cd70fa4f255f1f43.bundle.js.map
Due: yarn lint:fix

Let user to pass string as error flag in TypeA
  src/components/__stories__/InputTypeA.stories.tsx
  src/components/styles/getTypeAcss.ts
Due: yarn lint:fix

Fix form error field for the case of fixed height
  src/components/highlevel/FormErrorField.tsx
Due: yarn lint:fix

Implement a better FormatNumber component
  src/components/InputCurrency.tsx
  src/components/InputNumber.tsx
  src/components/__stories__/InputCurrency.stories.tsx
  src/components/__stories__/InputNumber.stories.tsx
  src/components/helpers/formatNumber.ts
  src/components/helpers/index.ts
  src/components/index.ts
Due: yarn lint:fix

Improve InputNumber component
  src/components/InputNumber.tsx
  src/components/__stories__/InputNumber.stories.tsx
  src/components/helpers/formatNumber.ts
Due: yarn lint:fix

Update docs
  docs/asset-manifest.json
  docs/iframe.html
  docs/index.html
  docs/main.2f764bb818d24c155dbf.bundle.js
  docs/main.319134651d60e3f5553e.bundle.js
  docs/main.3b088b507b361a6f0c3c.bundle.js
  docs/main.3b088b507b361a6f0c3c.bundle.js.map
  docs/main.dc02cd70fa4f255f1f43.bundle.js
  docs/main.dc02cd70fa4f255f1f43.bundle.js.map
  docs/precache-manifest.674cdda37a46dbf24c68b16fbff666c7.js
  docs/precache-manifest.b1b9a28ba3e3ccd277e9f56e4890ecb4.js
  docs/runtime~main.3b088b507b361a6f0c3c.bundle.js
  docs/runtime~main.3b088b507b361a6f0c3c.bundle.js.map
  docs/runtime~main.707b56da4e928e093175.bundle.js
  docs/runtime~main.dc02cd70fa4f255f1f43.bundle.js.map
  docs/service-worker.js
  docs/vendors~main.34fd275cf12c2dfee69d.bundle.js
  docs/vendors~main.3b088b507b361a6f0c3c.bundle.js
  docs/vendors~main.3b088b507b361a6f0c3c.bundle.js.LICENSE.txt
  docs/vendors~main.3b088b507b361a6f0c3c.bundle.js.map
  docs/vendors~main.b91ee19a0ad03be44bf3.bundle.js
  docs/vendors~main.dc02cd70fa4f255f1f43.bundle.js
  docs/vendors~main.dc02cd70fa4f255f1f43.bundle.js.map
Due: yarn lint:fix

Remove unused constant in cleanNumber
  src/components/helpers/formatNumber.ts
Due: yarn lint:fix

Use fmt number functions from cpmech
  package.json
  src/components/FlexTable.tsx
  src/components/InputNumber.tsx
  src/components/__stories__/InputNumber.stories.tsx
  src/components/helpers/formatNumber.ts
  src/components/helpers/hasProp.ts
  src/components/helpers/index.ts
  src/components/highlevel/FormErrorField.tsx
  yarn.lock
Due: yarn lint:fix

Path conditions:
  yarn lint:fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.scss) or (any of: {*.{json,md}})
